*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: monospace;
    

}
a{
    text-decoration: none;
}
.section{
    width:100% ;
    min-height: 100vh;
    background-color: lightpink;
    padding: 60px 0;

}
.container{
    width:80% ;
    display: block;
    margin: auto;
    overflow: hidden; /* To clear the floats inside */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.content-section .content{
   float: right;
   width: 55%; 
   font-size: 16px;
    color: #666;
    line-height: 1.8; /* <-- Increase this number */
}
.image-section{
    float: left;
    width: 40%;
    flex: 1 1 40%;
}
.image-section img{
    width:100% ;
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Makes the image corners soft */
}
@media screen and (max-width: 768px) {
    .container{
        width:80% ;
        display: block;
        margin: auto;
        padding-top:100px;
        overflow: hidden; /* To clear the floats inside */
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content-section, .image-section {
        float: none;
        width: 100%;
        text-align: center;
        flex: 1 1 100%;
    }

    .image-section img {
        width: 80%;
        margin: auto;
    
        
    }
    
    .content-section .title {
        font-size: 26px;
       

    }

    .content-section .content h2 {
        font-size: 22px;
        text-align: center;
    }

    .content-section .content p {
        font-size: 16px;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
    }

    .image-section img {
        width: 100%;
        margin: auto;
    }

    .button {
        width: auto;
        padding: 10px 25px;
        margin: 20px auto 0 auto; 
        align-items: center;
    }
    .content-section .content {
        float: none;
        width: 100%;
        text-align: center; /* Center the content */
    }
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 50px;
    color: rgb(12, 164, 252);    
    

    

}
.content-section .content h2{
    margin-top: 20px;
    color: #5d5d5d;
    font-size:27px ;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    
}
.button{
    display: flex;
    padding: 12px 30px;
    width:50%;
    height: 40px;
    border:none;
    border-radius: 20px;
    margin-top:20px ;
    font-weight: 600;
    color: #fff;
    background-color: #49d8b9;
    font-size: 16px;
    text-align: center;
    transition: background 0.3s ease;
    text-decoration: none;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;

}
.button:hover {
    background-color: #36b79e;
    cursor: pointer;
}
