html {
    scroll-behavior: smooth;
  }
h2{
    color:brown;
}  
h3{
    text-align: center;
}
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}


.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity:0.9;
    transform: scale(1.02);
}

.product .buy-btn{
   background: rgb(29, 79, 188);
   transform:translateY(20px) ; 
   opacity:0;
   transition: 0.3s all;
   color: aliceblue;
   padding: 10px 20px;  
   font-size: 14px;     
   border: none;       
   border-radius: 5px;  

}

.product:hover .buy-btn{
    
   transform:translateY(0) ; 
   opacity:1;
   
}

.star{
    padding: 10px 0;
}
.star i{
    font-size: 0.8rem;
    color:goldenrod;
}

#women > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
    background-color: #10106b;
}
#women > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
    background-color:rgb(255, 0, 183) ;
    color:aqua;
}
#men > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
    background-color: #10106b;
}
#men > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
    background-color:rgb(255, 0, 183) ;
    color:aqua;
}



#kids > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
    background-color: #10106b;
}
#kids > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
    background-color:rgb(255, 0, 183) ;
    color:aqua;
}

#watch > div.row.mx-auto.container > nav > ul > li.page-item.active > a{
    background-color: #10106b;
}

#watch > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover>a{
    background-color:rgb(255, 0, 183) ;
    color:aqua;
}

#watch > div.container.py-5 > div > nav > ul > li.page-item.active > a{
    background-color: #10106b;
}

#watch > div.container.py-5 > div > nav > ul > li:nth-child(n):hover>a{
    background-color: rgb(255, 0, 183);
    color:aqua;
}
